<%- include('header') %>
<br>
<div class="container">
    <h3 class="heading">TICKET TRACKING APPLICATION</h3>
    <form action="/ticket-tool" method="post">
        <div class="mb-3">
            <% if (errors.Ticket) { %>
                <div class="text-danger mb-3"><%= errors.Ticket.msg %></div>
            <% } %>
            <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputTicket" placeholder="Enter the ticket number *" *" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="Ticket">
            <% if (errors.DESCR) { %>
                <div class="text-danger mb-3"><%= errors.DESCR.msg %></div>
            <% } %>
            <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputDescr" placeholder="Enter the ticket description *" name="DESCR" list="resol">
            <datalist id="resol">
                <% resolution.forEach((resolution, index)=>{%>
                    <option id=<%= resolution.CATEGORY%>>
                        <%= resolution.CATEGORY %></option>
                    <%})%>
            </datalist>
            <select class="form-select shadow-none mb-3" id="inputCategory" name="CATEGORY">
                <option value="Incident">Incident</option>
                <option value="Service Request">Service Request</option>
            </select>
            <% if (errors.COMMENT) { %>
                <div class="text-danger mb-3"><%= errors.COMMENT.msg %></div>
            <% } %>
            <textarea autofocus class="form-control shadow-none mb-3 phText" id="inputComment" name="COMMENT" placeholder="Enter the detailed description *"></textarea>
            <select class="form-select shadow-none mb-3" id="inputUser" name="USER">
                <% users_.forEach((users_, index)=>{%>
                    <option id=<%= users_.user%>>
                        <%= users_.user %></option>
                    <%})%>
            </select>
            <select class="form-select shadow-none mb-3" id="inputApp" name="APP">
                <% app_nm.forEach((app_nm, index)=>{%>
                    <option id=<%= app_nm.name%>>
                        <%= app_nm.name %></option>
                    <%})%>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
</div>

<%- include('footer') %>

