<%- include('header') %>
<br>
<div class="container container-shrink">
    <h3 class="heading">TICKET TRACKING APPLICATION</h3>
    <% if (actionmsg) { %>
        <label id="config-action-label" class="config-label">
            <%= actionmsg %>
            <button class="config-label-btn" onclick="toggle(this)">X</button>
        </label>
    <% } %>
    <form action="/ticket-tool" method="post">
        <div class="mb-3">
            <br>
            <table class="table table-no-border">
                <tr>
                    <td>
                        <% if (errors.Ticket) { %>
                            <div class="text-danger mb-3"><%= errors.Ticket.msg %></div>
                        <% } %>
                        <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputTicket" placeholder="Enter the ticket number *" *" onkeypress="return event.charCode >= 48 && event.charCode <= 57;" name="Ticket">
                    </td>
                    <td>
                        <% if (errors.CATEGORY) { %>
                            <div class="text-danger mb-3"><%= errors.CATEGORY.msg %></div>
                        <% } %>
                        <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputCategory" placeholder="Enter the ticket category *" name="CATEGORY" list="category">
                        <datalist id="category">
                            <option value="Incident">
                            <option value="Service Request">
                        </datalist>
                    </td>
                </tr>
            </table>
                <% if (errors.DESCR) { %>
                    <div class="text-danger mb-3"><%= errors.DESCR.msg %></div>
                <% } %>
                <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputDescr" placeholder="Enter the ticket description *" name="DESCR" list="resol" onchange="updateData()">
                <datalist id="resol">
                    <% resolution.forEach((resolution, index)=>{%>
                        <option id=<%= resolution.CATEGORY%>> 
                            <%= resolution.CATEGORY %></option> <input id="<%= resolution.CATEGORY%>" value="<%= resolution.COMMENT %>" name="<%= resolution.TYPE %>">
                        <%})%>
                </datalist>
                <% if (errors.COMMENT) { %>
                    <div class="text-danger mb-3"><%= errors.COMMENT.msg %></div>
                <% } %>
                <textarea autofocus class="form-control shadow-none mb-3 phText" id="inputComment" name="COMMENT" placeholder="Enter the detailed description *"></textarea>   
            <table class="table table-no-border">
                <tr>
                    <td>
                        <% if (errors.APP) { %>
                            <div class="text-danger mb-3"><%= errors.APP.msg %></div>
                        <% } %>
                        <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputApp" placeholder="Select application *" name="APP" list="app">
                        <datalist id="app">
                            <% app_nm.forEach((app_nm)=>{%>
                                <option id=<%= app_nm.name%>>
                                    <%= app_nm.name %></option>
                                <%})%>
                        </datalist>
                    </td>
                    <td>
                        <% if (errors.USER) { %>
                            <div class="text-danger mb-3"><%= errors.USER.msg %></div>
                        <% } %>
                        <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputUser" placeholder="Select user *" name="USER" list="user">
                        <datalist id="user">
                            <% users_.forEach((users_)=>{%>
                                <option id=<%= users_.user%>>
                                    <%= users_.user %></option>
                                <%})%>
                        </datalist>
                    </td>
                </tr>
            </table>
        </div>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
</div>

<script src="../public/scripts/selector.js"></script>

<script>
    let toggle = () => {
        let label = document.getElementById("config-action-label");
        label.setAttribute("hidden", "hidden");
    }
</script>

<%- include('footer') %>

