<%- include('header') %>

<br>

<div class="container">
    <h3 class="heading">TICKET DETAIL</h3>
    <form action="/ticket-tool/search/update" method="post">
        <div class="mb-3">
            <table class="table table-no-border">
                <tr>
                    <td>
                        <% if (errors.CATEGORY) { %>
                            <div class="text-danger mb-3"><%= errors.null %></div>
                        <% } %>
                        <label for="inputTicket">Ticket Number</label>
                        <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputTicket" name="Ticket" value="<%= result.TICKET %>" readonly>
                    </td>
                    <td>
                        <% if (errors.CATEGORY) { %>
                            <div class="text-danger mb-3"><%= errors.CATEGORY.msg %></div>
                        <% } %>
                        <label for="inputCategory">Ticket Category</label>
                        <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputCategory" name="CATEGORY" value="<%= result.TICKET_TYPE %>" list="category">
                        <datalist id="category">
                            <option value="Incident">
                            <option value="Service Request">
                        </datalist>
                    </td>
                </tr>
            </table>
            <% if (errors.DESCR) { %>
                <div class="text-danger mb-3"><%= errors.DESCR.msg %></div>
            <% } %>
            <label for="inputDescr">Ticket Description</label>
            <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputDescr" name="DESCR" value="<%= result.RESOLUTION %>" list="resol">
            <datalist id="resol">
                <% resolution.forEach((resolution, index)=>{%>
                    <option id=<%= resolution.CATEGORY%>>
                        <%= resolution.CATEGORY %></option>
                    <%})%>
            </datalist>
            <% if (errors.COMMENT) { %>
                <div class="text-danger mb-3"><%= errors.COMMENT.msg %></div>
            <% } %>
            <label for="inputComment">Detailed Description</label>
            <textarea autofocus class="form-control shadow-none mb-3 phText" id="inputComment" name="COMMENT"><%= result.COMMENT %></textarea>
            <table class="table table-no-border">
                <tr>
                    <td>
                        <label for="inputUser">Resolved by</label>
                        <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputUser" name="USER" value="<%= result.RESOLVED_BY %>" readonly>
                    </td>
                    <td>
                        <label for="inputApp">Application name</label>
                        <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputApp" name="APP" value="<%= result.APP_NM %>" readonly>
                    </td>
                    <td>
                        <label for="inputCreated">Created on (GMT)</label>
                        <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputCreated" name="CREATED" value="<%= result.CREATED_ON %>" readonly>
                    </td>
                </tr>
            </table>
        </div>
        <button type="submit" class="btn btn-warning">UPDATE</button>
        <a class="btn btn-outline-dark cancel" href="/ticket-tool">Home</a>
    </form>
</div>



<%- include('footer') %>

