<%- include('header') %>

<br>

<div class="container">
    <h3 class="heading">TICKET DETAIL</h3>
    <div class="mb-3">
        <label for="inputTicket">Ticket Number</label>
        <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputTicket" name="Ticket" value="<%= result.TICKET %>" readonly>
        <label for="inputDescr">Ticket Description</label>
        <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputDescr" name="DESCR" value="<%= result.RESOLUTION %>" readonly>
        <label for="inputCategory">Ticket Category</label>
        <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputCategory" name="CATEGORY" value="<%= result.TICKET_TYPE %>" readonly>
        <label for="inputComment">Detailed Description</label>
        <textarea autofocus class="form-control shadow-none mb-3 phText" id="inputComment" name="COMMENT" readonly><%= result.COMMENT %></textarea>
        <label for="inputUser">Resolved by</label>
        <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputUser" name="USER" value="<%= result.RESOLVED_BY %>" readonly>
        <label for="inputApp">Application name</label>
        <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputApp" name="APP" value="<%= result.APP_NM %>" readonly>
        <label for="inputCreated">Created on</label>
        <input autofocus type="text" class="form-control shadow-none mb-3 phText" id="inputCreated" name="CREATED" value="<%= result.CREATED_ON %>" readonly>
    </div>
    <a class="btn btn-outline-dark cancel" href="/ticket-tool">Home</a>
</div>



<%- include('footer') %>

