<%- include('header') %>
<br>

<div class="container">
    <div class="table-responsive-sm">
        <h3 class="heading">TICKET DETAILS FOR <%= MON %> (<%= result.length %>)</h3>
        <table>
            <tr>
                <td class="count"><label>Incident : <%= i_count.length %></label></td>
                <td class="count"><label>Service Request : <%= r_count.length %></label></td>
            </tr>
        </table>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Ticket No</th>
                    <th>Resolution</th>
                    <th>Ticket Category</th>
                    <th>Application</th>
                    <th>Resolved by</th>
                </tr>
            </thead>
            <tbody>
                <% for (const val of result) { %>
                    <tr>
                        <td><%= val.TICKET %></td>
                        <td><%= val.RESOLUTION %></td>
                        <td><%= val.TICKET_TYPE %></td>
                        <td><%= val.APP_NM %></td>
                        <td><%= val.RESOLVED_BY %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <a class="btn btn-outline-dark cancel" href="/ticket-tool">Home</a>
    </div>
</div>


<%- include('footer') %>
